@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* HEADER */

.top-header {
  padding: 35px 0;
}

.top-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.top-header ul li {
  float: left;
  font-weight: 700;
}
.top-header ul li + li {
  margin-left: 12px;
}
.top-header ul li.social a {
  color: #f08a59;
  font-weight: 900;
  font-size: 20px;
}

/* FOOTER */

.footer {
  padding: 50px 0;
  color: #fff;
  text-align: center;
  background: #425c5a;
  margin-top: 60px;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #fff;
  text-decoration: none;
}
.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer ul li {
  display: inline-block;
  margin: 0 15px;
  font-size: 14px;
}
.footer ul.menu {
  margin-bottom: 16px;
}
.footer ul.menu li {
  font-size: 17px;
}

.col-lg-11 {
  position: relative;
  width: 100%;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

/* FORM FIELDS */

.search-input {
  width: 40%;
}
.search-btn {
  width: 160px !important;
}
.reset-btn:hover,
.login-btn:hover,
.register-btn:hover,
.btn-update:hover,
.search-btn:hover {
  background-color: #f08a59;
  color: #f5f5f5;
}

.reset-btn,
.login-btn,
.register-btn,
.btn-update,
.search-btn {
  border: 1px #616161 solid;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #424242;
}

.login-btn {
  margin-right: 15px;
}

.login-btn .loading {
  width: 15px;
}

.page_wrapper {
  padding-top: 0px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}
.btn-default {
  text-transform: uppercase;
  padding: 10px;
  display: table;
  background: #e1ddc3;
  margin-top: 10px;
}

.form_block_two {
  display: flex;
}
.form_block_two .block {
  flex-grow: 1;
  box-sizing: border-box;
}

.form_block_two .block:nth-child(1) {
  padding-right: 10px;
}
.form_block_two .block:nth-child(2) {
  padding-left: 10px;
}

.top-header a:hover {
  color: #f08a59;
}

.reset-btn {
  margin-left: "10px";
}
.formBlock {
  margin-bottom: 10px;
}

.formBlock {
  margin-bottom: 10px;
}
input {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  background: #e1ddc3;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
.register-link {
  display: block;
  width: 100px;
  background: #e1ddc3;
  height: 50px;
}

.user-message {
  margin: auto;
  border-radius: 3px;
  text-align: left;
  margin-top: 8px;
}

.user-message--error {
  color: #b71c1c;
  font-size: 20px;
}

.confirm-message {
  margin-top: 8px;
  color: rgb(20, 177, 98);
  font-size: 20px;
}

/*  */
.loading {
  display: none;
  width: 20px;
  margin-left: 5px;
}
.model-loading {
  display: none;
  width: 20px;
  margin-left: 5px;
}

.disabled {
  pointer-events: none;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  display: none;
  z-index: 600;
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
.open {
  display: block !important;
}

.fav-btn {
  cursor: pointer;
}

.container {
  margin-top: 70px;
}
@media (min-width: 1200px){
  .container {
      max-width: 1140px;
  }

}

.trending {
  min-height: 500px;
}
.page-wrapper {
  padding-bottom: 80px;
}
.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.container {
  width: 100%;
  padding-right: 15px;
  margin-right: auto;
  margin-top: 70px;
}

.card{
    margin-top:10px;
}

.search-btn{
    width:30%;
    margin:20px;
    margin-left: 0px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px; */
  /* margin-left: -15px; */
}

.col-md-6,
.col-lg-4,
.mt-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
